<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.point.eslee.health_free">

    <!-- 내 프로젝트에 대한 보안 수준 설정. 내 프로젝트의 패키지가 org.androidtown.lbs.map 인 경우 -->
    <permission
        android:name="com.point.eslee.health_free.map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- 구글맵 API v2의 권한 설정 -->
    <uses-permission android:name="com.point.eslee.health_free.map.permission.MAPS_RECEIVE" />

    <!-- 구글맵 API v2의 일반 권한 설정. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- 일반 권한 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- OpenGL 사용 설정 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 라이브러리 사용 설정 -->
        <uses-library android:name="com.google.android.maps" />

        <!-- 지도 API Key 선언 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- GMS 라이브러리 버전 설정 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.point.eslee.health_free.MainActivity" />
        </activity>

        <service
            android:name=".steps.StepBackgroundService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <activity
            android:name=".BarcodeActivity"
            android:theme="@android:style/Theme.Dialog"></activity>

        <service
            android:name=".steps.ResetRecordService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>